
.curstomers__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}


.curstomers__item {
  width: 170px;
  height: 92px;
}


.curstomers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition: border var(--transition-dur-and-func);
  
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}


.curstomers__icon {
  fill: #afb1b8;
  height: 60px;
  width: 106px;
  transition: fill var(--transition-dur-and-func);

  .curstomers__link:hover &,
  .curstomers__link:focus & {
    fill: var(--accent-color);
  
  }
}