.team {
  background-color: #F5F4F4;
}


.list-team {
  display: flex;
  column-gap: 30px;
}


.item-team {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
  

.team-card {
  padding: 30px 0;
}


.card-team__subtitle {
  @include font (16px, 500, 19px);
  text-align: center;

  color: var(--primary-text-dark-color)
}


.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  color: var(--secondary-text-dark-color)
}

// SOCIAL-LINC

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 16px;
}


.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: #FFFFFF;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus  {
    background-color:var(--accent-color);
  }
}


.social-list__icon {
  height: 20px;
  width: 20px;
  fill:#AFB1B8;
  transition: fill var(--transition-dur-and-func);

  .social-list__link:hover &,
  .social-list__link:focus & {
    fill:#ffffff ;
  } 
}

