:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-dark-color: #212121;
  --secondary-text-dark-color: #757575;
  --primary-text-light-color: #FFFFFF;
  --secondary-text-light-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #F5F5F5;
  --secondary-background-color: #F5F4FA;
  --primary-dark-background-color: #2F303A;
  --accent-color: #2196F3;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}